/* Using Google Font Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* Common Style And Utilities */
body {
  font-family: "Poppins", sans-serif;
}

/* Header Part */
.header-style {
  background-color: #2d25a0;
  width: 100%;
  height: 540px;
}
.flexible-header {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-item {
  width: 50%;
  text-align: center;
}
.header-title {
  color: #ffffff;
  font-size: 64px;
  font-weight: 700;
}

.btn-style {
  background-color: #e02c6d;
  padding: 10px 24px;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}
.btn-style:hover .fas {
  transform: scale(1.2) rotate(360deg);
  transition: transform 1.5s ease-in-out;
}

.header-item > img {
  width: 556.01px;
  height: 438px;
}
.header-item > img:hover{
  transform: scale(1.2);
  transition: transform 1.5s ease-in-out;
}

/* Team Player Styles */
.container {
  width: 90%;
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.team-players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-left: 130px;
}

.team-player {
  width: 330px;
  height: 474px;
  box-shadow: 10px 10px 30px #c5c3c3;
  padding: 15px;
}
.player-image img {
  width: 100%;
}
.team-detail h3 {
  font-weight: 700;
  font-size: 28px;
  color: #18191f;
}
.team-detail p {
  color: #6c6c6c;
  font-size: 16px;
  text-align: justify;
}

/* Footer Styles */

.footer-container {
  margin-top: 158px;
  margin-bottom: 63px;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.footer-item {
  width: 100%;
  font-size: 18px;
}
.footer-item > img {
  width: 483.87px;
  height: 110px;
}
.footer-item .fab {
  margin-left: 14px;
  background-color: #e7e7e8;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  font-size: 18px;
  padding: 13px 5px 0px 4px;
}

/* Gallary Part */
.gallery-title {
  background-color: fuchsia;
  padding: 10px;
  margin-top: 80px;
  text-align: center;
  color: white;
}
.gallery-bg {
  margin-top: 50px;
  background-color: #534c53;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
}

.gallereis {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.gallery-frame {
  width: 90%;
  height: 250px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.photo-frame img {
  width: 100%;
  height: 100%;
}
.gallery-detail {
  width: 90%;
  text-align: center;
  color: #FF00FF;
  font-size: 30px;
  font-weight: 700;
  padding: 43px 0px;
  position: absolute;
  top: 0px;
  display: none;
}
.gallery-frame:hover .gallery-detail {
  display: block;
}
.gallery-frame:hover .photo {
  transform: scale(1.5);
  transition: transform 1s ease-in-out;
}

/* Media Queries */
/* Mobile Devices break Point */

@media screen and (max-width: 668px) {
  /* Header Media Queries */
  .header-style {
    width: 100%;
    height: 100%;
  }
  .flexible-header {
    flex-direction: column;
  }
  .header-item > img {
    width: 100%;
    height: 100%;
    margin-top: 40px;
  }
  .btn-style {
    padding: 6px 14px;
  }
  .header-title {
    font-size: 40px;
    font-weight: 400;
  }
  /* Player Media Queries */
  .container {
    width: 100%;
  }
  .team-players {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 20px;
    margin-top: 30px;
  }
  .team-player {
    width: 100%;
    height: 100%;
  }

  /* Bonus Media Queries */
  .gallereis {
    grid-template-columns: repeat(1, 1fr);
  }
  .gallery-frame {
    width: 100%;
    height: 100%;
  }
  .gallery-bg {
    width: 100%;
    height: 100%;
  }
  /* Footer Media Queries */

  .footer-item > img {
    width: 90%;
    height: 100%;
  }
  .footer-item .fab {
    margin-left: 14px;
    background-color: #e7e7e8;
    width: 24px;
    height: 24px;
    border-radius: 16px;
    font-size: 16px;
    padding: 8px 2px 0px 3px;
  }
}

/* ipad / tablet devices break point */
@media screen and (min-width: 668px) and (max-width: 992px) {
  /* Header Media Queries*/
  .header-style {
    width: 100%;
    height: 100%;
  }
  .flexible-header {
    flex-direction: row;
  }
  .header-item > img {
    width: 100%;
    height: 100%;
    margin-top: 40px;
  }
  .btn-style {
    padding: 6px 14px;
  }
  .header-title {
    font-size: 40px;
    font-weight: 400;
  }

  /* Team  Media Queries*/
  .container {
    width: 100%;
  }
  .team-players {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 20px;
    margin-top: 30px;
  }
  .team-player {
    width: 100%;
    height: 100%;
  }
  /* Bonus Media Queries */
  .gallereis {
    grid-template-columns: repeat(2, 1fr);
  }
  .gallery-frame {
    width: 100%;
    height: 100%;
  }
  .gallery-bg {
    width: 100%;
    height: 100%;
  }
  /* Footer Media Queries */

  .footer-item > img {
    width: 90%;
    height: 100%;
  }
  .footer-item .fab {
    margin-left: 14px;
    background-color: #e7e7e8;
    width: 24px;
    height: 24px;
    border-radius: 16px;
    font-size: 16px;
    padding: 8px 2px 0px 3px;
  }
}
